<h1>Anthonian Uptime Monitoring Termination Notice</h1>
<hr>
<p>We have received your request to terminate monitoring for <i><b>{{ url }}</b></i> and have deleted your information on our database. We are no longer monitoring your <i><b>{{ url }}</b></i> as of this notice. You will not receive any further emails from us.</p>
<br>
<p>Thank you for using our service, we are sorry to see you go, we hope that we can serve you again in the future :)</p>