<h1><i><b>{{ url }}</b></i> Is Back Alive!</h1>
<hr>
<h2>Time: {{ time }}</h2>
<br>
<p>This is a notice that <i><b>{{ url }}</b></i> is now reachable and responding. The monitoring intervals have been reset to 1 minutes. Ah don't celebrate yet, remember to check if it is showing the right content! But congrats, it's showing something now :P</p>
<br>
<p>If you would like to terminate the uptime monitoring, please take a note of this key <i><b>{{ key }}</b></i> and submit it at <a href="https://uptime.anth.dev/teminate">https://uptime.anth.dev/teminate</a> </p>
<br>
<p>Thank you for using our service, we hope that you will not receive any further email from us :P have a great day :D</p>