<h1>Welcome to Anthonian Uptime Monitoring</h1>
<hr>
<p>We have received your request for {{ url }} and is now monitoring it at 1 minutes intervals. You will only be notified when {{ url }} became unreachable. We will not send any other emails at the time being, we might add additional functionalities to the service in the future and we will keep you posted. We do not monitor the inbox of this mail, you are more than welcome to send feedback by replying to this email but we do not guarantee we will process them.</p>
<br>
<p>If this is a mistake or if you would like to terminate the uptime monitoring, please take a note of this key {{ key }} and submit it at <a href="https://uptime.anth.dev/teminate">https://uptime.anth.dev/teminate</a> </p>
<br>
<p>Thank you for using our service, we hope that you will not receive any further email from us :P have a great day :D</p>